@import "tailwindcss";

::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
}

:focus-visible {
  outline: 4px solid var(--color-blue-400);
  outline-offset: 2px;
  z-index: 1;
}
